<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=RPAPER;instanceName=SQLEXPRESS;</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">udc77</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping  resource="ar/com/rollpaper/pricing/beans/CcobClie.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/StocArts.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/StocCa01.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/VentArpc.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/VentCliv.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/PreciosEspeciales.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/DescuentoXFamilias.hbm.xml" />		
		<mapping  resource="ar/com/rollpaper/pricing/beans/MaestroEsclavo.hbm.xml" />		
		<mapping  resource="ar/com/rollpaper/pricing/beans/SistMone.hbm.xml" />		
		<mapping  resource="ar/com/rollpaper/pricing/beans/VentCliv.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/VentLipv.hbm.xml" />
		<mapping  resource="ar/com/rollpaper/pricing/beans/SistUnim.hbm.xml" />
	</session-factory>
</hibernate-configuration>